In [9]:
import pandas as pd

In [10]:
# Import datasets of 2023 BAH rates with and without dependents

In [11]:
BAHwith = pd.read_csv('C:/Users/chris/Desktop/GitHub/BAHWithDep.csv')

In [12]:
BAHwithout = pd.read_csv('C:/Users/chris/Desktop/GitHub/BAHWithOutDep.csv')

In [13]:
# Set no max rows and columns to view data
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [14]:
BAHwith.head()
# In each step the df name will be BAHwith#. # represents the corresponding number of the step below

# 1Rename the column titles
# 2Keep only E1 to E7
# 3Split the city and State
# 4Combine the Datasets
# 5Keep Only North Carolina Data

,2023 BAH Rates - WITH DEPENDENTS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,MHA,MHA_NAME,E01,E02,E03,E04,E05,E06,E07,E08,E09,W01,W02,W03,W04,W05,O01E,O02E,O03E,O01,O02,O03,O04,O05,O06,O07
1,AK400,"KETCHIKAN, AK",2034,2034,2034,2034,2454,2472,2532,2625,2787,2475,2574,2688,2829,3000,2547,2667,2850,2466,2469,2685,3057,3324,3351,3378
2,AK401,"SITKA, AK",1884,1884,1884,1884,2367,2385,2487,2625,2760,2388,2547,2715,2781,2856,2511,2691,2787,2379,2382,2712,2877,2991,3018,3039
3,AK402,"JUNEAU, AK",2088,2088,2088,2088,2550,2568,2619,2706,2847,2571,2658,2763,2883,3027,2631,2745,2901,2562,2565,2760,3075,3300,3327,3354
4,AK403,"KODIAK ISLAND, AK",2118,2118,2118,2118,2316,2334,2340,2370,2508,2337,2352,2394,2559,2754,2343,2382,2583,2328,2331,2391,2823,3138,3165,3189

In [15]:
BAHwith.columns

Index(['2023 BAH Rates - WITH DEPENDENTS', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25'],
      dtype='object')

In [16]:
# Rename the columns that are going to be used
BAHwith1 = BAHwith.rename(columns={'Unnamed: 1':'City,State', 'Unnamed: 2':'E1_with_Dep','Unnamed: 3':'E2_with_Dep', 'Unnamed: 4':'E3_with_Dep', 'Unnamed: 5':'E4_with_Dep', 'Unnamed: 6':'E5_with_Dep', 'Unnamed: 7':'E6_with_Dep','Unnamed: 8':'E7_with_Dep'})
BAHwith1.columns

Index(['2023 BAH Rates - WITH DEPENDENTS', 'City,State', 'E1_with_Dep',
       'E2_with_Dep', 'E3_with_Dep', 'E4_with_Dep', 'E5_with_Dep',
       'E6_with_Dep', 'E7_with_Dep', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [17]:
# Subset the data keeping up the the grade of E7 and the City/State
BAHwith2 = BAHwith1[['City,State', 'E1_with_Dep','E2_with_Dep', 'E3_with_Dep', 'E4_with_Dep', 'E5_with_Dep','E6_with_Dep', 'E7_with_Dep']]

In [18]:
# Split the the City and State into their own Columns
BAHwith3 = BAHwith2['City,State'].str.split(',', expand=True)

In [19]:
# Add column names to the newly split columns
BAHwith3.rename(columns={0:'City', 1: 'State'}, inplace=True)

In [20]:
# Merge the two data frames
BAHwith4 = pd.concat([BAHwith3, BAHwith2], axis = 1)

In [21]:
BAHwith4.columns

Index([       'City',       'State',             2,  'City,State',
       'E1_with_Dep', 'E2_with_Dep', 'E3_with_Dep', 'E4_with_Dep',
       'E5_with_Dep', 'E6_with_Dep', 'E7_with_Dep'],
      dtype='object')

In [22]:
# filter out all other state data except North Carolina
BAHwith_NConly = BAHwith4[167:178]
BAHwith_NConly

,City,State,2,"City,State",E1_with_Dep,E2_with_Dep,E3_with_Dep,E4_with_Dep,E5_with_Dep,E6_with_Dep,E7_with_Dep
167,OUTER BANKS,NC,None,"OUTER BANKS, NC",1944,1944,1944,1944,1947,2025,2067
168,MOREHEAD/CHERRY PT MCAS,NC,None,"MOREHEAD/CHERRY PT MCAS, NC",1659,1659,1659,1659,1662,1692,1746
169,CAMP LEJEUNE,NC,None,"CAMP LEJEUNE, NC",1335,1335,1335,1335,1338,1653,1707
170,CHARLOTTE,NC,None,"CHARLOTTE, NC",2013,2013,2013,2013,2163,2181,2199
171,DURHAM/CHAPEL HILL,NC,None,"DURHAM/CHAPEL HILL, NC",1815,1815,1815,1815,1920,2160,2181
172,ELIZABETH CITY,NC,None,"ELIZABETH CITY, NC",1779,1779,1779,1779,1887,1941,1959
173,FORT BRAGG/POPE,NC,None,"FORT BRAGG/POPE, NC",1530,1530,1530,1530,1572,1890,1911
174,SEYMOUR JOHNSON AFB,NC,None,"SEYMOUR JOHNSON AFB, NC",1230,1230,1230,1230,1278,1542,1695
175,GREENSBORO,NC,None,"GREENSBORO, NC",1539,1539,1539,1539,1662,1863,1923
176,RALEIGH,NC,None,"RALEIGH, NC",1938,1938,1938,1938,2082,2100,2130
177,WILMINGTON,NC,None,"WILMINGTON, NC",1779,1779,1779,1779,1845,2226,2319

In [23]:
# Drop columns '2' and 'City,State'
# "2" is causing an error message
BAHwith_NConly = BAHwith_NConly.drop(['City,State'], axis = 1)
BAHwith_NConly

,City,State,2,E1_with_Dep,E2_with_Dep,E3_with_Dep,E4_with_Dep,E5_with_Dep,E6_with_Dep,E7_with_Dep
167,OUTER BANKS,NC,None,1944,1944,1944,1944,1947,2025,2067
168,MOREHEAD/CHERRY PT MCAS,NC,None,1659,1659,1659,1659,1662,1692,1746
169,CAMP LEJEUNE,NC,None,1335,1335,1335,1335,1338,1653,1707
170,CHARLOTTE,NC,None,2013,2013,2013,2013,2163,2181,2199
171,DURHAM/CHAPEL HILL,NC,None,1815,1815,1815,1815,1920,2160,2181
172,ELIZABETH CITY,NC,None,1779,1779,1779,1779,1887,1941,1959
173,FORT BRAGG/POPE,NC,None,1530,1530,1530,1530,1572,1890,1911
174,SEYMOUR JOHNSON AFB,NC,None,1230,1230,1230,1230,1278,1542,1695
175,GREENSBORO,NC,None,1539,1539,1539,1539,1662,1863,1923
176,RALEIGH,NC,None,1938,1938,1938,1938,2082,2100,2130
177,WILMINGTON,NC,None,1779,1779,1779,1779,1845,2226,2319

In [24]:
# Drop columns '2'
BAHwith_NConly.rename(columns={2:'delete'}, inplace=True)
BAHwith_NConly = BAHwith_NConly.drop(['delete'], axis = 1)

In [25]:
BAHwith5 = BAHwith_NConly

In [26]:
# This is the clean data for E1 through E7 in North Carolina with dependents
BAHwith5

,City,State,E1_with_Dep,E2_with_Dep,E3_with_Dep,E4_with_Dep,E5_with_Dep,E6_with_Dep,E7_with_Dep
167,OUTER BANKS,NC,1944,1944,1944,1944,1947,2025,2067
168,MOREHEAD/CHERRY PT MCAS,NC,1659,1659,1659,1659,1662,1692,1746
169,CAMP LEJEUNE,NC,1335,1335,1335,1335,1338,1653,1707
170,CHARLOTTE,NC,2013,2013,2013,2013,2163,2181,2199
171,DURHAM/CHAPEL HILL,NC,1815,1815,1815,1815,1920,2160,2181
172,ELIZABETH CITY,NC,1779,1779,1779,1779,1887,1941,1959
173,FORT BRAGG/POPE,NC,1530,1530,1530,1530,1572,1890,1911
174,SEYMOUR JOHNSON AFB,NC,1230,1230,1230,1230,1278,1542,1695
175,GREENSBORO,NC,1539,1539,1539,1539,1662,1863,1923
176,RALEIGH,NC,1938,1938,1938,1938,2082,2100,2130
177,WILMINGTON,NC,1779,1779,1779,1779,1845,2226,2319

## Now complete the same tasks for the data without dependents

In [27]:

# In each step the df name will be BAHwith#. # represents the corresponding number of the step below

# 1Rename the column titles
# 2Keep only E1 to E7
# 3Drop all data except for North Carolina Index 167/178

In [28]:
# Rename the columns that need to be kept
BAHwithout1 = BAHwithout.rename(columns={'Unnamed: 1':'City,State', 'Unnamed: 2':'E1_without_Dep','Unnamed: 3':'E2_without_Dep', 'Unnamed: 4':'E3_without_Dep', 'Unnamed: 5':'E4_without_Dep', 'Unnamed: 6':'E5_without_Dep', 'Unnamed: 7':'E6_without_Dep','Unnamed: 8':'E7_without_Dep'})
BAHwithout1.columns

Index(['2023 BAH Rates - WITHOUT DEPENDENTS', 'City,State', 'E1_without_Dep',
       'E2_without_Dep', 'E3_without_Dep', 'E4_without_Dep', 'E5_without_Dep',
       'E6_without_Dep', 'E7_without_Dep', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27'],
      dtype='object')

In [29]:
# Subset the data keeping up the the grade of E7
BAHwithout2 = BAHwithout1[['E1_without_Dep','E2_without_Dep', 'E3_without_Dep', 'E4_without_Dep', 'E5_without_Dep','E6_without_Dep', 'E7_without_Dep']]

In [30]:
# 3Drop all data except for North Carolina Index 167/178
BAHwithout3 = BAHwithout2[167:178]
BAHwithout3

,E1_without_Dep,E2_without_Dep,E3_without_Dep,E4_without_Dep,E5_without_Dep,E6_without_Dep,E7_without_Dep
167,1503,1503,1503,1503,1785,1944,1965
168,1521,1521,1521,1521,1602,1662,1683
169,1101,1101,1101,1101,1248,1338,1359
170,1566,1566,1566,1566,1752,1872,2016
171,1518,1518,1518,1518,1635,1713,1815
172,1539,1539,1539,1539,1614,1674,1776
173,1230,1230,1230,1230,1389,1485,1533
174,1092,1092,1092,1092,1140,1182,1272
175,1155,1155,1155,1155,1311,1419,1536
176,1530,1530,1530,1530,1692,1800,1938
177,1392,1392,1392,1392,1599,1716,1782

In [31]:
BAHrates= pd.merge(BAHwith5, BAHwithout3, left_index = True, right_index = True)

In [32]:
BAHrates.to_csv('C:/Users/chris/Desktop/GitHub/BAHrates.csv')

In [33]:
BAHrates

,City,State,E1_with_Dep,E2_with_Dep,E3_with_Dep,E4_with_Dep,E5_with_Dep,E6_with_Dep,E7_with_Dep,E1_without_Dep,E2_without_Dep,E3_without_Dep,E4_without_Dep,E5_without_Dep,E6_without_Dep,E7_without_Dep
167,OUTER BANKS,NC,1944,1944,1944,1944,1947,2025,2067,1503,1503,1503,1503,1785,1944,1965
168,MOREHEAD/CHERRY PT MCAS,NC,1659,1659,1659,1659,1662,1692,1746,1521,1521,1521,1521,1602,1662,1683
169,CAMP LEJEUNE,NC,1335,1335,1335,1335,1338,1653,1707,1101,1101,1101,1101,1248,1338,1359
170,CHARLOTTE,NC,2013,2013,2013,2013,2163,2181,2199,1566,1566,1566,1566,1752,1872,2016
171,DURHAM/CHAPEL HILL,NC,1815,1815,1815,1815,1920,2160,2181,1518,1518,1518,1518,1635,1713,1815
172,ELIZABETH CITY,NC,1779,1779,1779,1779,1887,1941,1959,1539,1539,1539,1539,1614,1674,1776
173,FORT BRAGG/POPE,NC,1530,1530,1530,1530,1572,1890,1911,1230,1230,1230,1230,1389,1485,1533
174,SEYMOUR JOHNSON AFB,NC,1230,1230,1230,1230,1278,1542,1695,1092,1092,1092,1092,1140,1182,1272
175,GREENSBORO,NC,1539,1539,1539,1539,1662,1863,1923,1155,1155,1155,1155,1311,1419,1536
176,RALEIGH,NC,1938,1938,1938,1938,2082,2100,2130,1530,1530,1530,1530,1692,1800,1938
177,WILMINGTON,NC,1779,1779,1779,1779,1845,2226,2319,1392,1392,1392,1392,1599,1716,1782